{% extends 'base.html' %}
{% load static %}


{% block content %}
<main class="flex-shrink-0 main-bg">
    <div class="container gallery-page">
        <div class="row">
            <div class="col-md-6 picture-sides">

                <!-- Hair Salon Slide Show -->
                <div id="hairSalonCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="pictures-title">
                        <h2>Pictures from the Salon</h2>
                    </div>
                    <div class="slide-show">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://res.cloudinary.com/dwnzsvuln/image/upload/v1706230562/hbb5_dqfip4.webp"
                                    class="d-block" alt="Hair Salon Image 1">
                            </div>
                            <div class="carousel-item">
                                <img src="https://res.cloudinary.com/dwnzsvuln/image/upload/v1706230562/hbb3_wgmqnd.webp"
                                    class="d-block w-100" alt="Hair Salon Image 2">
                            </div>
                            <div class="carousel-item">
                                <img src="https://res.cloudinary.com/dwnzsvuln/image/upload/v1706230562/hbb2_mhdukr.webp"
                                    class="d-block w-100" alt="Hair Salon Image 3">
                            </div>
                            <div class="carousel-item">
                                <img src="https://res.cloudinary.com/dwnzsvuln/image/upload/v1706230562/hbb1_tymcfo.webp"
                                    class="d-block w-100" alt="Hair Salon Image 4">
                            </div>
                            <div class="carousel-item">
                                <img src="https://res.cloudinary.com/dwnzsvuln/image/upload/v1706230562/hbb4_dinitl.webp"
                                    class="d-block w-100" alt="Hair Salon Image 5">
                            </div>
                            <div class="carousel-item">
                                <img src="https://res.cloudinary.com/dwnzsvuln/image/upload/v1706395126/Hair_by_Budu_1_von_2_hc6pec.webp"
                                    class="d-block w-100" alt="Hair Salon Image 6">
                            </div>

                            <button class="carousel-control-prev" type="button" data-bs-target="#hairSalonCarousel"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#hairSalonCarousel"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 picture-sides">

                <!-- Hairstyles Slide Show -->
                <div id="hairstylesCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="pictures-title">
                        <h2>Pictures for Hairstyles</h2>
                    </div>
                    <div class="slide-show">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://res.cloudinary.com/dwnzsvuln/image/upload/v1706395020/hbb_18_pfdoft.webp"
                                    class="d-block" alt="Hairstyle Image 1">
                            </div>
                            <div class="carousel-item">
                                <img src="https://res.cloudinary.com/dwnzsvuln/image/upload/v1706395020/hbb_17_wo2ww4.webp"
                                    class="d-block w-100" alt="Hairstyle Image 2">
                            </div>
                            <div class="carousel-item">
                                <img src="https://res.cloudinary.com/dwnzsvuln/image/upload/v1706395019/hbb_16_e6ngyd.webp"
                                    class="d-block w-100" alt="Hairstyle Image 3">
                            </div>
                            <div class="carousel-item">
                                <img src="https://res.cloudinary.com/dwnzsvuln/image/upload/v1706395019/hbb_15_mubip7.webp"
                                    class="d-block w-100" alt="Hairstyle Image 4">
                            </div>
                            <div class="carousel-item">
                                <img src="https://res.cloudinary.com/dwnzsvuln/image/upload/v1706395019/hbb_14_haaizy.webp"
                                    class="d-block w-100" alt="Hairstyle Image 5">
                            </div>
                            <div class="carousel-item">
                                <img src="https://res.cloudinary.com/dwnzsvuln/image/upload/v1706395018/hbb_13_uvyflx.webp"
                                    class="d-block w-100" alt="Hairstyle Image 6">
                            </div>
                            <div class="carousel-item">
                                <img src="https://res.cloudinary.com/dwnzsvuln/image/upload/v1706395018/hbb_12_ojeiuq.webp"
                                    class="d-block w-100" alt="Hairstyle Image 7">
                            </div>
                            <div class="carousel-item">
                                <img src="https://res.cloudinary.com/dwnzsvuln/image/upload/v1706395017/hbb_11_bdu0py.webp"
                                    class="d-block w-100" alt="Hairstyle Image 8">
                            </div>
                            <div class="carousel-item">
                                <img src="https://res.cloudinary.com/dwnzsvuln/image/upload/v1706395017/hbb_10_g42fcd.webp"
                                    class="d-block w-100" alt="Hairstyle Image 9">
                            </div>
                            <div class="carousel-item">
                                <img src="https://res.cloudinary.com/dwnzsvuln/image/upload/v1706395016/hbb_9_kkj040.webp"
                                    class="d-block w-100" alt="Hairstyle Image 10">
                            </div>
                            <div class="carousel-item">
                                <img src="https://res.cloudinary.com/dwnzsvuln/image/upload/v1706395016/hbb_8_l59qt2.webp"
                                    class="d-block w-100" alt="Hairstyle Image 11">
                            </div>
                            <div class="carousel-item">
                                <img src="https://res.cloudinary.com/dwnzsvuln/image/upload/v1706395015/hbb_7_qdlkds.webp"
                                    class="d-block w-100" alt="Hairstyle Image 12">
                            </div>
                            <div class="carousel-item">
                                <img src="https://res.cloudinary.com/dwnzsvuln/image/upload/v1706395015/hbb_6_rkpk9d.webp"
                                    class="d-block w-100" alt="Hairstyle Image 13">
                            </div>
                            <div class="carousel-item">
                                <img src="https://res.cloudinary.com/dwnzsvuln/image/upload/v1706395014/hbb_5_lgqqpz.webp"
                                    class="d-block w-100" alt="Hairstyle Image 14">
                            </div>
                            <div class="carousel-item">
                                <img src="https://res.cloudinary.com/dwnzsvuln/image/upload/v1706395014/hbb_4_z36tqn.webp"
                                    class="d-block w-100" alt="Hairstyle Image 15">
                            </div>
                            <div class="carousel-item">
                                <img src="https://res.cloudinary.com/dwnzsvuln/image/upload/v1706395013/hbb_3_to6hx5.webp"
                                    class="d-block w-100" alt="Hairstyle Image 16">
                            </div>
                            <div class="carousel-item">
                                <img src="https://res.cloudinary.com/dwnzsvuln/image/upload/v1706395013/hbb_2_ku1ctu.webp"
                                    class="d-block w-100" alt="Hairstyle Image 17">
                            </div>
                            <div class="carousel-item">
                                <img src="https://res.cloudinary.com/dwnzsvuln/image/upload/v1706395013/hbb_1_dwr8kn.webp"
                                    class="d-block w-100" alt="Hairstyle Image 18">
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#hairstylesCarousel"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#hairstylesCarousel"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}