{% extends 'base.html' %}
{% load static %}


{% block content %}
<h2>Book a Haircut</h2>
<form method="post" action="{% url 'booking' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Book Now</button>
</form>

<!-- Display already booked bookings -->
<h3>Your Bookings</h3>
{% if bookings %}
<ul>
  {% for booking in bookings %}
  <li>
    {{ booking.name }} - {{ booking.date_preference }} - {{ booking.time_preference }}
    <a href="{% url 'modify_booking' booking.pk %}">Modify</a> |
    <a href="{% url 'delete_booking' booking.pk %}">Delete</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No bookings yet.</p>
{% endif %}
{% endblock %}