{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- Modify Booking Form -->
  <h3>Modify Booking</h3>
  <form method="post" action="{% url 'modify_booking' booking.pk %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Modify Booking</button>
  </form>

  <!-- Delete Booking Form -->
  <form method="post" action="{% url 'delete_booking' booking.pk %}">
    {% csrf_token %}
    <button type="submit">Delete Booking</button>
  </form>
{% endblock %}

{% block scripts %}
  <script src="{% static 'script.js' %}"></script>
{% endblock %}