{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          Booking successful! Thank you.
        </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var toastEl = document.querySelector('.toast');
      var toast = new bootstrap.Toast(toastEl);

      toast.show();
    });
  </script>
{% endblock %}