body {
    background-color: #776a6a;
    margin-bottom: 120px;
}

.navbar {
    border-bottom: 1px solid #ddd;
    height: 80px;
}

#navbar-holder {
    display: flex;
    flex-wrap: inherit;
    align-items: flex-start;
    justify-content: space-between;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.logo-img {
    max-height: 40px;
    max-width: 100%;
}

.navbar-nav .nav-link {
    font-size: 20px;
    font-weight: 600;
    color: #4A4A4F !important;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-item:hover .nav-link {
    color: #008998 !important;
}

.navbar-message ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    list-style: none;
}

.navbar-icons {
    margin-bottom: -14px;
}

.navbar-icons a {
    font-size: 24px;
    color: #4A4A4F;
    text-decoration: none;
    list-style-type: none;
    list-style: none;
    font-size: 1rem;
    line-height: 0.2;
}

.navbar-icons ul.navbar-nav {
    list-style-type: none;
    padding-left: 0;
}

.custom-toggler {
    outline: none;
}

.nav-items-holder {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-content: space-between;

}

.navbar-collapse-button {
    display: flex;
    justify-content: center;
    margin: 0 40px;
}

.content {
    flex: 1;
}

.alert {
    text-align: center;
    padding-top: 4rem;
    font-size: x-large;
    color: #23c0d2;
}

/* Footer */

.footer {
    background-color: #008998;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.footer i {
    font-size: 1.5rem;
    margin-right: 5px;
}

/* Login page*/

#signup-link {
    color: #008998;
}

#signin-button {
    background-color: #008998;
}

/* Logout page */

#signout-button {
    background-color: #008998;
}

/* Register page */

#signin-link {
    color: #008998;
}

#signup-button {
    background-color: #008998;
}

/* Home page */

#hero-outer {
    width: 100%;
    height: 800px;
    overflow: hidden;
    margin-bottom: -120px;
}

.hero-section {
    background-image: url('https://res.cloudinary.com/dwnzsvuln/image/upload/v1706230562/hbb1_tymcfo.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: calc(100vh);
    position: relative;
    overflow: hidden;
    z-index: -1;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 15s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

.home-page-container {
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.home-page-container h1 {
    font-size: 3rem;
    padding-top: 16rem;
    font-weight: 600;
    font-family: ui-monospace;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.home-page-container span {
    color: #008998;
}

/* About page */

.profile-image {
    width: 75%;
}

.about-page p {
    color: #fff2f2;
}

/* Gallery page */

.pictures-title {
    padding-top: 10px;
    font-family: revert-layer;
}

.carousel-inner {
    display: flex;
    align-items: normal;
    justify-content: flex-start;
    width: 90%;
    height: 550px;
    overflow: hidden;
    position: relative;
}

.carousel-inner img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.carousel-control-prev,
.carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
}

.gallery-container {
    display: flex;
    justify-content: space-between;
}

.gallery-container .gallery-column {
    flex: 1;
    margin: 0 10px;
}

.gallery-container .gallery-column h3 {
    text-align: center;
}

.gallery-container .slideshow-container {
    position: relative;
    max-width: 100%;
    max-height: 300px;
    overflow: hidden;
    margin: 20px 0;
}

.gallery-container .slideshow-container img {
    width: 100%;
    height: auto;
    display: none;
}

.gallery-container .prev,
.gallery-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.gallery-container .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.gallery-container .prev:hover,
.gallery-container .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Information page */

.service-section {
    border: 2px solid #000;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.service-section h2 {
    margin-top: 0;
}

.info-page ul {
    color: #fff2f2;
}

.info-page p {
    color: #fff2f2;
}

.main-bg {
    padding-bottom: 10px;
}

.location {
    margin-bottom: 30px;
}

.opening-hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Booking page */

.booking-container {
    padding: 0 2rem;
}

.col li {
    padding-bottom: 10px;
}

.btn-primary {
    color: #fff;
    background-color:#008998;
}

/*Modify booking page*/

.modify-booking {
margin-top: 15px;
}

/* 403 */

.error-code {
    font-size: 72px;
    color: #dc3545;
    margin-bottom: 10px;
}

.error-message {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.back-link {
    font-size: 18px;
    color: #007bff;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}