{% extends 'base.html' %}
{% load static %}


{% block content %}
<main class="flex-shrink-0 main-bg info-page">

    <!-- Services for Women, Men, and Kids -->
    <div class="service-section">
        <div class="container">
        <div class="container frame-holder">
            <div class="row service-list">
                <div class="col-md-6">
                    <h2>Services for Women</h2>
                    <ul>
                        <li>Cut and style short</li>
                        <li>Cut and style medium to long</li>
                        <li>Cut and go</li>
                        <li>Wash and style</li>
                        <li>Wave styling</li>
                        <li>Color</li>
                        <li>Toner</li>
                        <li>Highlights</li>
                        <li>Balayage</li>
                        <li>Face Frame</li>
                        <li>Teasylights</li>
                        <li>Keratin Straightening</li>
                        <li>Hair Mask</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h2>Services for Men</h2>
                    <ul>
                        <li>Wash and Cut</li>
                        <li>Dry cut</li>
                        <li>Contouring</li>
                        <li>Machine cut</li>
                        <li>Toner</li>
                        <li>Beard trimming</li>
                    </ul>
                    <h2>Services for Kids</h2>
                    <ul>
                        <li>Boys cut</li>
                        <li>Girls cut</li>
                        <li>Babies cut</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Location and Opening Hours -->
    <div class="container location">
        <div class="row">
            <div class="col-md-8 map">
                <h2>Location</h2>
                <iframe id="map" width="100%" height="300" frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB0IXr4AYCq_zaQBMRaeRjK0RNUm7_me9A&q=Klosbachstrasse 54. 8032 Zürich&language=en"
                    defer allowfullscreen>
                </iframe>
            </div>
            <div class="col-md-4 opening-hours">
                <h2>Opening Hours</h2>
                <p>Wednesday - Friday: 9:00 - 18:30</p>
                <p>Saturday: 9:00 - 14:00</p>
                <p>Sunday - Tuesday: Closed</p>
            </div>
        </div>
    </div>
    
    <!-- Accessibility information -->
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <h2>Accessibility</h2>
                <p>Tram: 8 to Englischviertelstrasse or tram 3 to Römerhof.<br>There are no parking spaces, but there
                    are
                    many blue zones right around the corner on the side streets Freiestrasse and Englischviertelstrasse.
                    Or in the Migros and Coop car parks at Kreutzplatz, which is a 5-minute walk from Hair by Budu.</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}